form.search-box.form-search(name="searchForm" ng-submit="searchForm.$valid && submit()" novalidate)
  div#inner-wrapper
    input.input-append(type="text" name="term" ng-model="search" placeholder="Enter Zip Code or City" required)
    i.fa.fa-location-arrow(ng-click="setToLocation()")
  button(type="submit") Search

