form.search-box.form-search(name="searchForm" ng-submit="searchForm.$valid && submit()" novalidate)
  input.input-append(type="text" name="term" ng-model="search" placeholder="Enter Zip Code or City" required)
  button.btn.btn-default(type="submit") Search

