div.footer
  ul.footer-links
    li
      a(href="http://www.freecodecamp.com" target="_blank") FreeCodeCamp
    li
      a(href="http://www.twitter.com/BlindPrimate" target="_blank") BlindPrimate
    li
      a(href="https://github.com/BlindPrimate/reveler" target="_blank") Github Repo
  ul.social-media-links
    li
      a(href="www.facebook.com")
        i.fa.fa-facebook
    li
      a(href="www.twitter.com")
        i.fa.fa-twitter

