$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,800,300);
@import url(http://fonts.googleapis.com/css?family=Oxygen);

// app-wide variables
$open-sans: 'Open Sans', sans-serif;
$oxygen: 'Oxygen', sans-serif;


/**
 * App-wide Styles
 */


html, body {
  height: 100%;
  min-height: 100%;
}

body {
  font-size: 1em;
  font-family: $open-sans;
}



.state-wrapper, .page-wrapper {
  height: 100%;
  min-height: 100%;
}

.brand {
  font-family: $oxygen;
  font-size: 3em;
  letter-spacing: 0.05em;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


.user-nav {
  list-style-type: none;
  color: black;
  padding-top: 15px;
  li {
    font-size: 1.2em;
    border-left: 1px solid black;
    a {
      padding: 0 20px;
      color: black;
    }
    &:first-child {
      border-left: none;
    }
  }
}


.search-box {
  margin-top: 10px;
  input {
    color: black;
    width: 80%;
    height: 30px;
  }
  button {
    width: 20%;
    height: 30px;
    color: black;
  }
}




// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'main/main.scss';
@import 'search/search.scss';
@import 'searchForm/searchForm.scss';
@import 'modal/modal.scss';
// endinjector
