$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,800,300);
@import url(http://fonts.googleapis.com/css?family=Oxygen);

// app-wide variables
$open-sans: 'Open Sans', sans-serif;
$oxygen: 'Oxygen', sans-serif;


// color variables
$light-blue: #eaf2f7;
$dark-blue: #032742;
$green: #1BBA9A;

/**
 * App-wide Styles
 */

* {
  margin: 0;
}

*:focus {
  outline: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}


html, body {
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: $open-sans;
}

.state-wrapper {
  height: 100%;
}

.page-wrapper {
  min-height: 100%;
}

.page-wrapper:after {
  content: "";
  display: block;
  margin-bottom: -50px;
}

.footer, .page-wrapper:after {
  height: 50px;
}

.brand {
  font-family: $oxygen;
  font-size: 2.8em;
  letter-spacing: 0.05em;
}


.loading-screen {
  margin: 75px auto;
  padding: 30px;
  width: 400px;
  text-align: center;
  background: $light-blue;
  display: block;
  border-radius: 4px;
  i {
    color: $dark-blue;
    font-size: 5em;
    margin-bottom: 40px;
  }
  p {
    font-size: 1.2em;
    font-weight: 300;
  }
}


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.navbar.navbar-default {
  background: $light-blue;
  border: none;   
  color: $light-blue;
  li {
    padding: 0;
    &:first-child {
      border: none;
    }
    a {
      font-size: 0.8em;
      color: tint($dark-blue, 40%);
    }
  }
  .brand {
    color: $dark-blue;
  }
  .active a {
    background: transparent;
    &:hover, &:focus {
      color: black;
      background: transparent;
    }
  }
} 



.footer {
  background: shade($light-blue, 5%);
  padding-top: 5px;
  width: 100%;
  .container {
    padding-top: 10px;
  }
  ul {
    display: table;
    margin: 0 auto;
    li {
      display: inline;
      list-style-type: none;
      margin: 0 10px;
      a {
        padding: 5px 10px;
      }
    }
  }
}




.user-nav {
  list-style-type: none;
  padding-top: 22px;
  li {
    font-size: 1.2em;
    border-left: 1px solid shade($light-blue, 30%);
    a {
      padding: 0 30px;
      color: $light-blue;
    }
    &:first-child {
      border-left: none;
    }
  }
}








// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'main/main.scss';
@import 'search/search.scss';
@import 'searchForm/searchForm.scss';
@import 'modal/modal.scss';
// endinjector
