$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,800,300);
@import url(http://fonts.googleapis.com/css?family=Oxygen);

// app-wide variables
$open-sans: 'Open Sans', sans-serif;
$oxygen: 'Oxygen', sans-serif;


// color variables
$light-blue: #eaf2f7;
$dark-blue: #032742;

/**
 * App-wide Styles
 */


*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }


html, body {
  height: 100%;
  min-height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: $open-sans;
}

.state-wrapper, .page-wrapper {
  height: 100%;
  min-height: 100%;
}

.brand {
  font-family: $oxygen;
  font-size: 3.2em;
  letter-spacing: 0.05em;
}

.navbar-default .navbar-brand   {
  color: $light-blue;
  &:hover {
    color: white;
    background: transparent;
  }
}

.navbar-default .navbar-nav li {
  a {
    color: $light-blue;
    &:hover {
      color: white;
      background: transparent;
    }
  }
}


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


.navbar-default{
  background: $dark-blue;
}

.user-nav {
  list-style-type: none;
  padding-top: 15px;
  li {
    font-size: 1.2em;
    border-left: 1px solid shade($light-blue, 30%);
    a {
      padding: 0 30px;
      color: $light-blue;
    }
    &:first-child {
      border-left: none;
    }
  }
}








// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'main/main.scss';
@import 'search/search.scss';
@import 'searchForm/searchForm.scss';
@import 'modal/modal.scss';
// endinjector
