div.navbar.navbar-default.navbar-static-top(ng-controller='NavbarCtrl')
  div.container
    div.navbar-header
      button.navbar-toggle(type='button', ng-click='isCollapsed = !isCollapsed')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.brand(href='/') reveler


    div#navbar-main.navbar-collapse.collapse(collapse='isCollapsed')
      ul.nav.navbar-nav
        li(ng-show='isAdmin()', ng-class='{active: isActive("/admin")}')
          a(href='/admin') Admin
      search-form.col-lg-4.col-md-4.col-sm-4(ng-if='!isActive("/")')

      ul.nav.navbar-nav.navbar-right.user-nav
        li(ng-if='!isLoggedIn()', ng-class='{active: isActive("/signup")}')
          a(href='/signup') Sign up

        li(ng-if='!isLoggedIn()', ng-class='{active: isActive("/login")}')
          a(href='/login') Login

        li(ng-if='isLoggedIn()', ng-class='{active: isActive("/settings")}')
          a(href='/settings') 
            i.fa.fa-user
            &nbsp; {{ getCurrentUser().name }}


        li(ng-if='isLoggedIn()', ng-class='{active: isActive("/logout")}')
          a(href='', ng-click='logout()') Logout
