div.page-wrapper#main
  nav(ng-include="'components/navbar/navbar.html'")
  div#banner.clearfix
    div.col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3
      div#leader
        h1 Come and join us.  
        h2 Your friends are waiting. 
      div#search
        search-form
  div#sub-footer
footer(ng-include="'components/footer/footer.html'")

