
#banner {
  width: 100%;
  height: 464px;
  padding-top: 25px;
  background-image: url("/assets/images/night-table-2.jpg");
  background-color: $light-blue;
  background-repeat: no-repeat;
  color: $light-blue;
  position: relative;
  #leader {
    margin-top: 80px;
    margin-bottom: 90px;
    text-align: center;
    font-family: $open-sans;
    color: $light-blue;
    h1 {
      font-size: 3em;
      font-weight: 700;
      margin-bottom: 30px;
    }
    h2 {
      font-size: 1.4em;
      font-weight: 300;
    }
  }
}

#main .navbar.navbar-default {
  margin: 0;
  padding-bottom: 10px;
}



#search {
  background: rgba($light-blue, 0.9);
  margin-bottom: 30px;
  border-radius: 3px;
}


search-form {
  padding: 10px 20px;
  display: block;
  form {
    margin: 0;
    input {
      outline: none;
      border: none;
      color: $dark-blue;
      padding-left: 10px;
    }
    button {
      background: tint($dark-blue, 10%);
      color: $light-blue;
    }
  }
}


#sub-footer {
  height: 100%;
  background: $light-blue;
}



