
#banner {
  width: 100%;
  height: 100%;
  padding-top: 75px;
  background-image: url("/assets/images/night-table.jpg");
  background-color: #030E27;
  background-repeat: no-repeat;
  color: white;
  #leader {
    margin-top: 80px;
    margin-bottom: 40px;
    text-align: center;
    h1 {
      font-family: $oxygen;
      font-size: 7em;
      letter-spacing: 0.05em;
      margin-bottom: 50px;
    }
    h2 {
      font-size: 1.8em;
      font-weight: 300;
    }
  }
  .user-nav {
    color: white;
    li {
      a {
        color: white;
      }
      &:first-child {
        border-right: 1px solid white;
      }
    }
  }
}





