div.page-wrapper#main
  div#banner.clearfix
    div.col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
      ul.user-nav
        li
          a(href='/login') Login
        li
          a(href='signup') Register
      div.col-lg-4.col-lg-offset-4.col-md-4.col-md-offset-4.col-sm-4.col-sm-offset-4
        div#leader
          h1.brand Reveler
          h2 Come and join us.  Your friends are waiting. 
        search-form
div(ng-include="'components/footer/footer.html'")

