div.page-wrapper#main
  div#banner.clearfix
    div(ng-include="'components/navbar/navbar.html'")
    div.col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3
      ul.user-nav
        li
          a(href='/login') Login
        li
          a(href='signup') Register
      div#leader
        h1 Come and join us.  
        h2 Your friends are waiting. 
      search-form.col-lg-4.col-lg-offset-4.col-md-4.col-md-offset-4.col-sm-4.col-sm-offset-4
div(ng-include="'components/footer/footer.html'")

