#search-page {
  background: shade($dark-blue, 20%);
  ul {
    li {
      list-style-type: none;
    }
  }
  .navbar.navbar-default {
    padding: 0;
  }
  #revels {
    margin-top: 15px;
    padding: 0;
  }
  .revel {
    background: $light-blue;
    &:hover {
      background: tint($light-blue, 35%);
    }
  }
  .title {
    font-size: 1.4em;
    color: tint($dark-blue, 20%);
    &:hover {
      text-decoration: none;
      color: tint($dark-blue, 50%);
    }
  }
  .basic-info, .review-count {
    font-size: 0.95em;
    font-weight: 300;
    color: tint($dark-blue, 40%);
  }
  .basic-info {
  }
  .review-count {
    font-size: 0.9em;
    margin: 5px 0 30px 0;
  }
  .rating {
    line-height: 2.5em;
    font-size: 0.9em;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #B3D3F3;
    margin-right: 12px;
  }
  .review-count {
    margin: 15px 0 0 10px;
  }
  .snippet {
    margin-top: 20px;
    font-size: 1em;
  }
  .checkin {
    border-top: 1px solid shade($light-blue, 2%);
    padding: 20px 0 10px 0;
    p {
      display: inline;
    }
    i {
      font-size: 1.4em;
      color: #BBB;
    }
    button {
      margin-left: 5%;
      background: tint($light-blue, 20%);
      border: 1px solid shade($light-blue, 25%);
      border-radius: 3px;
      padding: 1px 5px;
      &:hover {
        background: white;
      }
    }
    .checked-in {
      color: $green;
      border: 1px solid $green;
      display: inline-block;
      margin-left: 5%;
      i {
        font-size: 1.2em;
        color: $green;
      }
    }
    .cancel {
      font-size: 0.8em;
      margin-left: 1%;
    }
  }
}


