div.page-wrapper#search-page
  div(ng-include="'components/navbar/navbar.html'")
  div.col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-1
    p {{isCheckedIn()}}
    ul.container
      li.revel(ng-repeat="revel in revels")
        h3 
          a(ng-href="{{revel.url}}"){{revel.name}}
        h4 {{revel.location.display_address[0]}}
        h5 {{revel.location.display_address[1]}}
        p {{revel.phone}}
        div
          span {{revel.revelData.revelers.length}}
        button(ng-click="checkIn(revel.revelData)") 
          span Check In
          span Check Out





