#search-page {
  ul {
    li {
      list-style-type: none;
    }
  }
  .revel {
    &:hover {
      background: tint($light-blue, 65%);
    }
  }
  .title {
    font-size: 1.4em;
    color: tint($dark-blue, 20%);
    &:hover {
      text-decoration: none;
      color: tint($dark-blue, 50%);
    }
  }
  .basic-info, .review-count {
    font-size: 1em;
    font-weight: 300;
    color: tint($dark-blue, 40%);
  }
  .basic-info {
  }
  .review-count {
    font-size: 0.9em;
    margin: 5px 0 30px 0;
  }
  .rating {
    line-height: 2.5em;
    font-size: 0.9em;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #B3D3F3;
    margin-right: 12px;
  }
  .review-count {
    margin: 15px 0 0 10px;
  }
  .snippet {
    margin-top: 20px;
    font-size: 1.1em;
  }
}
